@keyframes fade-in {
    from {
        opacity: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

#login {
    -webkit-animation: 2s fade-in ease-in;
    animation: 2s fade-in ease-in;
}

#login > div {
    background: url(http://wallpaper.pickywallpapers.com/widescreen/preview/darth-vader-in-the-dark.jpg);
    background-position: -50px -50px;
    padding: 2px;
    margin: 0 0 10px 0;
    border-radius: 5px;
}

#login > div > h1 {
    color: #fff;
    font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}