.footer{
    position: fixed;
    bottom:0;
    width: 100%;
    padding: 15px 0px;
    background-color:#F2F2F2;

    .apply{
        background-color: #5C6AC4;
        color: white;
        &:hover {
            background-color:#202E78;
            color:white;
        }
    }

    .cancel{
        background-color: white ;
        color: #5C6AC4;
        &:hover {
            background-color:white;
            color:#202E78;
        }
    }
}

.update--list{
    position: fixed;
    top: 90px;
    right: 100px;
}