.remove{
    font-size: 2em !important;
    color:darkred;
}

.modify--modal{
    margin: 5% 25% !important;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    border-radius: 4px;
    padding: 20px;
}

.mt-50{
    margin-top:50px;
}

.item--table{
    padding:0 5%;
}