
hr {
    border: 2px solid rgba(0,0,0,.1) !important;
}

.btn--add{
    background-color: #1b1c1d;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

.input--add{
    padding: 5px;
    border-radius:.25rem;
    border: 1px solid rgba(0,0,0,.15);
}

.add{
    font-size: 1.5em !important;
}

.ui.blue.button{
    padding: 5px 15px;
}


